click  # CLI handling
just_playback  # Audio playback
music-tag  # Metadata handling
pillow  # Image processing (required by music-tag for album art)
pypresence  # Discord Rich Presence
yt-dlp  # YouTube downloads
spotdl  # Spotify downloads
ytmusicapi  # Song recommendation (experimental)
librosa  # Audio processing
numba  # JIT compilation
numpy ~= 1.26  # 2.0.0 breaks librosa
windows-curses; sys_platform == 'win32'  # Windows curses support
keyring  # Credential storage
requests  # HTTP requests
msgspec  # Faster JSON serialization
syncedlyrics  # Search for synced lyrics
pylrc  # LRC file parsing
safer  # safe file writing
grapheme  # Unicode grapheme clusters
unidecode  # transliteration  # NOTE: GPL v3
pykakasi  # Japanese transliteration  # NOTE: GPL v3
translatepy  # Translation  # NOTE: GPL v3
indic_transliteration  # Indic transliteration

# PyObjC dependencies for macOS
pyobjc-core; sys_platform == 'darwin'
pyobjc-framework-ApplicationServices; sys_platform == 'darwin'
pyobjc-framework-AVFoundation; sys_platform == 'darwin'
pyobjc-framework-Cocoa; sys_platform == 'darwin'
pyobjc-framework-CoreAudio; sys_platform == 'darwin'
pyobjc-framework-CoreMedia; sys_platform == 'darwin'
pyobjc-framework-MediaPlayer; sys_platform == 'darwin'
pyobjc-framework-Quartz; sys_platform == 'darwin'